<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.bosssoft.dao.ApplyOrderDao">
    <!--实现一对多查询映射，返回ArrayList-->
    <resultMap id="ApplyInfo" type="ApplyOrder">
        <id property="id" column="id"/>
        <result property="orderId" column="orderId"/>
        <result property="applyDepartment" column="applyDepartment"/>
        <result property="applyTime" column="applyTime"/>
        <result property="applyName" column="applyName"/>
        <result property="generalManagerOpinion" column="generalManagerOpinion"/>
        <result property="mineManagerOpinion" column="mineManagerOpinion"/>
        <result property="departmentOpinion" column="departmentOpinion"/>
        <result property="warehouseOpinion" column="warehouseOpinion"/>
        <result property="procurementOpinion" column="procurementOpinion"/>
        <collection property="items" column="orderId" javaType="java.util.ArrayList" select="getApplyItem"/>
    </resultMap>

    <!--查询部们id对应的所有物品申请记录-->
    <select id="getApplyItem" resultType="ApplyItem">
        select *
        from applyitem
        where applyOrderId = #{orderId}
    </select>

    <!--查询部门的申请记录-->
    <select id="queryApplyOrder" resultMap="ApplyInfo">
        select * from applyorder where orderId=#{orderId}
    </select>

    <!--删除部门的申请记录-->
    <delete id="deleteApplyOrder" parameterType="int">
        delete from applyorder where orderId = #{orderId}
    </delete>

    <!--插入部门申请记录-->
    <insert id="addApplyOrder" parameterType="ApplyOrder">
        insert into applyorder (applyDepartment,applyTime,applyName,generalManagerOpinion,mineManagerOpinion,departmentOpinion,warehouseOpinion,procurementOpinion,orderId)
        values (#{applyDepartment},#{applyTime},#{applyName},#{generalManagerOpinion},#{mineManagerOpinion},#{departmentOpinion},#{warehouseOpinion},#{procurementOpinion},#{orderId})
    </insert>

    <!--更新部门申请记录-->
    <update id="updateApplyOrder" parameterType="ApplyOrder">
        update applyorder set applyDepartment=#{applyDepartment},applyTime=#{applyTime},applyName=#{applyName},generalManagerOpinion=#{generalManagerOpinion},mineManagerOpinion=#{mineManagerOpinion},departmentOpinion=#{departmentOpinion},warehouseOpinion=#{warehouseOpinion},procurementOpinion=#{procurementOpinion}
        where orderId = #{orderId}
    </update>

</mapper>
