<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.bosssoft.dao.ApplyOrderDao">

<!--    <resultMap id="ApplyInfo" type="ApplyOrder">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="applyDepartment" column="applyDepartment"/>-->
<!--        <result property="applyTime" column="applyTime"/>-->
<!--        <result property="applyName" column="applyName"/>-->
<!--        <result property="generalManagerOpinion" column="generalManagerOpinion"/>-->
<!--        <result property="mineManagerOpinion" column="mineManagerOpinion"/>-->
<!--        <result property="departmentOpinion" column="departmentOpinion"/>-->
<!--        <result property="warehouseOpinion" column="warehouseOpinion"/>-->
<!--        <result property="procurementOpinion" column="procurementOpinion"/>-->
<!--        <collection property="Items" column="id" javaType="ApplyItem" select="getApplyItem"/>-->
<!--    </resultMap>-->

<!--    <select id="getApplyItem" resultType="ApplyItem" >-->
<!--        select *-->
<!--        from applyitem-->
<!--        where applyOrderId = #{id}-->
<!--    </select>-->
    
    <!--这是一个查询语句-->
    <select id="queryApplyOrder" resultType="ApplyOrder">
        select * from applyorder
    </select>

    <!--这是一个删除语句-->
    <delete id="deleteApplyOrder" parameterType="int">
        delete from applyorder where id = #{id}
    </delete>
    <!--这是一个插入语句-->
    <insert id="addApplyOrder" parameterType="ApplyOrder">
        insert into applyorder (applyDepartment,applyTime,applyName,generalManagerOpinion,mineManagerOpinion,departmentOpinion,warehouseOpinion,procurementOpinion)
        values (#{applyDepartment},#{applyTime},#{applyName},#{generalManagerOpinion},#{mineManagerOpinion},#{departmentOpinion},#{warehouseOpinion},#{procurementOpinion})
    </insert>
    <!--这是一个更新语句-->
    <update id="updateApplyOrder" parameterType="ApplyOrder">
        update applyorder set applyDepartment=#{applyDepartment},applyTime=#{applyTime},applyName=#{applyName},generalManagerOpinion=#{generalManagerOpinion},mineManagerOpinion=#{mineManagerOpinion},departmentOpinion=#{departmentOpinion},warehouseOpinion=#{warehouseOpinion},procurementOpinion=#{procurementOpinion}
        where id = #{id}
    </update>
</mapper>
