<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.bosssoft.dao.ApplyItemDao">

    <!--查询所有物品申请记录-->
    <select id="queryApplyItem" resultType="ApplyItem">
        select * from applyitem
    </select>

    <!--根据id删除物品申请记录-->
    <delete id="deleteApplyItem" parameterType="int">
        delete from applyitem where id = #{id}
    </delete>
    <!--插入物品申请记录-->
    <insert id="addApplyItem" parameterType="ApplyItem">
        insert into applyitem (id,applyOrderId,goodsId,goodsName,goodsType,number,palace,usedate)
        values (#{id},#{applyOrderId},#{goodsId},#{goodsName},#{goodsType},#{number},#{palace},#{usedate})
    </insert>
    <!--更新物品申请记录-->
    <update id="updateApplyItem" parameterType="ApplyItem">
        update applyitem set  goodsId=#{goodsId},applyOrderId=#{applyOrderId},goodsName=#{goodsName},goodsType=#{goodsType},number=#{number},palace=#{palace},usedate=#{usedate}
        where id = #{id}
    </update>
</mapper>
